extends layout
block content
  h2.blog_posts_header  Blog Posts
  table.posts_table
    tr
      th.th_post_title Title
      th.th_post_author Author
      th.th_post_date_created Date Created
      th.th_post_published Published?
      th.th_post_date_published Date Published
      th.th_post_controls Controls
    each post in posts
      tr.tr_blog_post
        td.td_post_title
          a.post_title(href=post.title) #{post.title}
        td.td_post_author #{post.author}
        td.td_post_date_created #{post.date_created?moment(post.date_created.format).format('M/DD/YYYY'):''}
        td.td_post_date_published #{post.published}
        td.td_post_date_created #{post.date_published?moment(post.date_published.format).format('M/DD/YYYY'):''}
        td.td_post_controls
          p.button_container
            a(href='/posts/edit/#{post._id}?')
              img(src= "/images/icons/layout_edit.png")

          form(method='POST', action='/posts/#{post._id}?_method=DELETE')
            p.button_container
              button(type='submit', class='unstyled')
                img(src= "/images/icons/delete.png")


  div.post_form
    form(action='/posts/new',method='post')
      ul.pretty-form(data-role='fieldcontain')
        li
          h2 Add Post
        li
          label(for='title') Title
          input(id='title',type='text',value='',placeholder='', name='title')
        li
          div.add_post_container
            label(for='body') Body
            textarea#add_post_body(cols='40', rows='10', name='body')
        li
          input(type='submit',value='Add Post',data-transition='fade', data-theme='c')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(type='text/javascript')
      | var simplemde = new SimpleMDE({ element: document.getElementById("add_post_body") });
